$base-font-family: 'Montserrat-700', sans-serif;
$base-color: pink;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto ;
    padding: 0 160px 0;
}

//header
.header__wrap{
    display: flex;
    justify-content: space-around;
    padding: 47px 0 40px;
}
.logo{
    font-family: $base-font-family;
}

.nav__links_list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.nav__links_list-elem{
    text-decoration: none;
    
}
.icon{
    color: black;
    width: 12px;
    height: 17px;
}