

$base-color: pink;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto ;
    padding: 0 160px 0;
}

//header

.icon{
    color: black;
    width: 12px;
    height: 17px;
}